# Project 9: Web Scraping, APIs & Wrappers (US Stocks)

## Web Scraping - the Dow Jones Constituents

In [1]:
import pandas as pd

In [2]:
pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")

[                                                   0  \
 0  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation
 2                                           Operator
 3                                          Exchanges
 4                                     Trading symbol
 5                                       Constituents
 6                                               Type
 7                                         Market cap
 8                                   Weighting method
 9                                            Website

                                                    1
 0  Historical logarithmic graph of the DJIA from ...
 1  February 16, 1885; 139 years ago[1] May 26, 18...
 2                              S&P Dow Jones Indices
 3  .mw-parser-output .plainlist ol,.mw-parser-out...
 4                                  ^DJI$INDU.DJIDJIA
 5                                                 30
 6                                          Large cap
 7       US$12.0 trillion (as of December 29, 2023[3]
 8                               Price-weighted index
 9  us.spindices.com/indices/equity/dow-jones-indu...  ,
                Company Exchange Symbol                        Industry  \
 0                   3M     NYSE    MMM                    Conglomerate
 1     American Express     NYSE    AXP              Financial services
 2                Amgen   NASDAQ   AMGN               Biopharmaceutical
 3               Amazon   NASDAQ   AMZN                       Retailing
 4                Apple   NASDAQ   AAPL          Information technology
 5               Boeing     NYSE     BA           Aerospace and defense
 6          Caterpillar     NYSE    CAT         Construction and mining
 7              Chevron     NYSE    CVX              Petroleum industry
 8                Cisco   NASDAQ   CSCO          Information technology
 9            Coca-Cola     NYSE     KO                  Drink industry
 10              Disney     NYSE    DIS  Broadcasting and entertainment
 11                 Dow     NYSE    DOW               Chemical industry
 12       Goldman Sachs     NYSE     GS              Financial services
 13          Home Depot     NYSE     HD                Home Improvement
 14           Honeywell   NASDAQ    HON                    Conglomerate
 15                 IBM     NYSE    IBM          Information technology
 16               Intel   NASDAQ   INTC          Semiconductor industry
 17   Johnson & Johnson     NYSE    JNJ         Pharmaceutical industry
 18      JPMorgan Chase     NYSE    JPM              Financial services
 19          McDonald's     NYSE    MCD                   Food industry
 20               Merck     NYSE    MRK         Pharmaceutical industry
 21           Microsoft   NASDAQ   MSFT          Information technology
 22                Nike     NYSE    NKE               Clothing industry
 23    Procter & Gamble     NYSE     PG      Fast-moving consumer goods
 24          Salesforce     NYSE    CRM          Information technology
 25           Travelers     NYSE    TRV                       Insurance
 26  UnitedHealth Group     NYSE    UNH             Managed health care
 27             Verizon     NYSE     VZ     Telecommunications industry
 28                Visa     NYSE      V              Financial services
 29             Walmart     NYSE    WMT                       Retailing

     Date added                                  Notes Index weighting
 0   1976-08-09  As Minnesota Mining and Manufacturing           1.54%
 1   1982-08-30                                    NaN           3.64%
 2   2020-08-31                                    NaN           4.80%
 3   2024-02-26                                    NaN           2.93%
 4   2015-03-19                                    NaN           3.04%
 5   1987-03-12                                    NaN           3.36%
 6   1991-05-06                                    NaN           5.45%
 7   2008-02-19          Also 1930-07-18 to 1999-11-01           2.59%
 8   2009-06-08                                    NaN           0.81%
 9   1987-03-12          Also 1932-05-26 to 1935-11-20           1.02%
 10  1991-05-06                                    NaN           1.81%
 11  1991-05-06                                    NaN           0.94%
 12  2019-04-02                                    NaN           6.54%
 13  1999-11-01                                    NaN           6.23%
 14  2020-08-31             AlliedSignal and Honeywell           3.34%
 15  1979-06-29          Also 1932-05-26 to 1939-03-04           3.09%
 16  1999-11-01                                    NaN           0.72%
 17  1997-03-17                                    NaN           2.70%
 18  1991-05-06                                    NaN           3.07%
 19  1985-10-30                                    NaN           4.98%
 20  1979-06-29                                    NaN           2.16%
 21  1999-11-01                                    NaN           6.83%
 22  2013-09-20                                    NaN           1.75%
 23  1932-05-26                                    NaN           2.69%
 24  2020-08-31                                    NaN           5.04%
 25  2009-06-08                                    NaN           3.69%
 26  2012-09-24                                    NaN           8.81%
 27  2004-04-08                                    NaN           0.67%
 28  2013-09-20                                    NaN           4.76%
 29  1997-03-17                                    NaN           1.00%  ,
      Year  Closing Value Net Change % Change
 0    1896          40.45      −0.49    −1.20
 1    1897          49.41      +8.96   +22.15
 2    1898          60.52     +11.11   +22.49
 3    1899          66.08      +5.56    +9.19
 4    1900          70.71      +4.63    +7.01
 ..    ...            ...        ...      ...
 123  2019       28538.44   +5210.98   +22.34
 124  2020       30606.48   +2068.04    +7.25
 125  2021       36338.30   +5731.82   +18.73
 126  2022       33147.25  −3,191.05    −8.78
 127  2023       37689.54   +4542.29   +13.70

 [128 rows x 4 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average  \
 0  3M Amazon American Express Amgen Apple Boeing ...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average.1
 0  3M Amazon American Express Amgen Apple Boeing ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ,
                                          vteNews Corp  \
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3                          National consumer products
 4                                 Enterprise products
 ..                                                ...
 56                                              Radio
 57                           News Broadcasting (2016)
 58                                         Television
 59                                       Other assets
 60        See also: 21st Century Fox News Corporation

                                        vteNews Corp.1 Unnamed: 2
 0                     Sister company: Fox Corporation        NaN
 1   vteDow Jones & CompanyNational consumer produc...        NaN
 2                              vteDow Jones & Company        NaN
 3   Barron's Financial News Investor's Business Da...        NaN
 4                Factiva S&P Dow Jones Indices (2.6%)        NaN
 ..                                                ...        ...
 56  News Broadcasting (2016) TalkRadio Talksport T...        NaN
 57    TalkRadio Talksport Times Radio Virgin Radio UK        NaN
 58                                      TalkTV (2022)        NaN
 59  Move Realtor.com New York Post News America Ma...        NaN
 60        See also: 21st Century Fox News Corporation        NaN

 [61 rows x 3 columns],
        vteDow Jones & Company  \
 0  National consumer products
 1         Enterprise products

                             vteDow Jones & Company.1
 0  Barron's Financial News Investor's Business Da...
 1               Factiva S&P Dow Jones Indices (2.6%)  ,
   vteHarperCollins                                 vteHarperCollins.1
 0    United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...
 1   United Kingdom  William Collins, Sons Collins Bartholomew The ...
 2        Australia                                  Angus & Robertson
 3        Christian  BibleGateway.com Thomas Nelson Women of Faith ...
 4           Canada           Harlequin Enterprises Love Inspired Mira,
                                vteNews Corp Australia  \
 0                                          Newspapers
 1                                        Metropolitan
 2                                            Regional
 3                                          Queensland
 4                                               Other
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7                                     NewsLocal (NSW)
 8                                      Messenger (SA)
 9                                         Quest (Qld)
 10                                           Victoria
 11                                         Television
 12                              vteSky News Australia
 13                                           Channels
 14                                             Active
 15                                            Defunct
 16                                        Programming
 17                  vteSky News Australia programming
 18                                            Current
 19                                            Daytime
 20                                          Primetime
 21                                             Former
 22                                            Daytime
 23                                          Primetime
 24                                          vteFoxtel
 25                                           Channels
 26                                         Fox Sports
 27                                     Joint ventures
 28                                   Defunct channels
 29                                          Streaming
 30                                          Magazines
 31                                              Other
 32                                    Former holdings

                              vteNews Corp Australia.1
 0   Metropolitan The Australian Daily Telegraph (S...
 1   The Australian Daily Telegraph (Sydney) Sunday...
 2   Queensland Balonne Beacon Bowen Independent Th...
 3   Balonne Beacon Bowen Independent The Cairns Po...
 4   The Coffs Coast Advocate The Daily Examiner Ge...
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7   Manly Daily North Shore Times Northern Distric...
 8   News Review Leader Standard Eastern Courier Ea...
 9                       South-West News Southern Star
 10                        Leader Community Newspapers
 11  vteSky News AustraliaChannelsActive Sky News L...
 12                              vteSky News Australia
 13  Active Sky News Live Sky News Extra Sky News W...
 14  Sky News Live Sky News Extra Sky News Weather ...
 15  Sky News Business Channel Sky News Election Ch...
 16  vteSky News Australia programmingCurrentDaytim...
 17                  vteSky News Australia programming
 18  Daytime Agenda First Edition Weekend Outsiders...
 19             Agenda First Edition Weekend Outsiders
 20           Credlin Paul Murray Live The Bolt Report
 21  Daytime Keneally and Cameron PVO NewsDay Pyne ...
 22  Keneally and Cameron PVO NewsDay Pyne & Marles...
 23  Credlin Keneally Friday Live Hinch Live Hadley...
 24                                          vteFoxtel
 25  Foxtel One Arena Lifestyle Fox8 Comedy Crime C...
 26  Fox Cricket Fox Footy Fox League Fox Netball F...
 27                 NickMusic (35%) Main Event (66.6%)
 28  Bio. Channel [V] Fox Footy Channel Fox Funny F...
 29  Hubbl Binge Flash Kayo Sports WatchAFL WatchNR...
 30            Big League GQ Australia Vogue Australia
 31  ARN Media (15%) Brisbane Broncos (69%) Busines...
 32  Australian Associated Press (47%) ADS (Adelaid...  ,
                                                    0  \
 0                                       Metropolitan
 1                                           Regional
 2                                         Queensland
 3                                              Other
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6                                    NewsLocal (NSW)
 7                                     Messenger (SA)
 8                                        Quest (Qld)
 9                                           Victoria

                                                    1
 0  The Australian Daily Telegraph (Sydney) Sunday...
 1  Queensland Balonne Beacon Bowen Independent Th...
 2  Balonne Beacon Bowen Independent The Cairns Po...
 3  The Coffs Coast Advocate The Daily Examiner Ge...
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6  Manly Daily North Shore Times Northern Distric...
 7  News Review Leader Standard Eastern Courier Ea...
 8                      South-West News Southern Star
 9                        Leader Community Newspapers  ,
             0                                                  1
 0  Queensland  Balonne Beacon Bowen Independent The Cairns Po...
 1       Other  The Coffs Coast Advocate The Daily Examiner Ge...,
   vteNews Corp Australia community newspapers  \
 0                             NewsLocal (NSW)
 1                              Messenger (SA)
 2                                 Quest (Qld)
 3                                    Victoria

        vteNews Corp Australia community newspapers.1
 0  Manly Daily North Shore Times Northern Distric...
 1  News Review Leader Standard Eastern Courier Ea...
 2                      South-West News Southern Star
 3                        Leader Community Newspapers  ,
                 vteSky News Australia  \
 0                            Channels
 1                              Active
 2                             Defunct
 3                         Programming
 4   vteSky News Australia programming
 5                             Current
 6                             Daytime
 7                           Primetime
 8                              Former
 9                             Daytime
 10                          Primetime

                               vteSky News Australia.1
 0   Active Sky News Live Sky News Extra Sky News W...
 1   Sky News Live Sky News Extra Sky News Weather ...
 2   Sky News Business Channel Sky News Election Ch...
 3   vteSky News Australia programmingCurrentDaytim...
 4                   vteSky News Australia programming
 5   Daytime Agenda First Edition Weekend Outsiders...
 6              Agenda First Edition Weekend Outsiders
 7            Credlin Paul Murray Live The Bolt Report
 8   Daytime Keneally and Cameron PVO NewsDay Pyne ...
 9   Keneally and Cameron PVO NewsDay Pyne & Marles...
 10  Credlin Keneally Friday Live Hinch Live Hadley...  ,
          0                                                  1
 0   Active  Sky News Live Sky News Extra Sky News Weather ...
 1  Defunct  Sky News Business Channel Sky News Election Ch...,
   vteSky News Australia programming  \
 0                           Current
 1                           Daytime
 2                         Primetime
 3                            Former
 4                           Daytime
 5                         Primetime

                  vteSky News Australia programming.1
 0  Daytime Agenda First Edition Weekend Outsiders...
 1             Agenda First Edition Weekend Outsiders
 2           Credlin Paul Murray Live The Bolt Report
 3  Daytime Keneally and Cameron PVO NewsDay Pyne ...
 4  Keneally and Cameron PVO NewsDay Pyne & Marles...
 5  Credlin Keneally Friday Live Hinch Live Hadley...  ,
            0                                         1
 0    Daytime    Agenda First Edition Weekend Outsiders
 1  Primetime  Credlin Paul Murray Live The Bolt Report,
            0                                                  1
 0    Daytime  Keneally and Cameron PVO NewsDay Pyne & Marles...

In [75]:
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[1]

In [76]:
const

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,1.54%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.64%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,4.80%
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26,NaN,2.93%
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,3.04%
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3.36%
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,5.45%
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.59%
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.81%
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.02%
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1.81%
11,Dow,NYSE,DOW,Chemical industry,1991-05-06,NaN,0.94%
12,Goldman Sachs,NYSE,GS,Financial services,2019-04-02,NaN,6.54%
13,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,6.23%
14,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,3.34%
15,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,3.09%
16,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,0.72%
17,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,2.70%
18,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3.07%
19,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4.98%
20,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,2.16%
21,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,6.83%
22,Nike,NYSE,NKE,Clothing industry,2013-09-20,NaN,1.75%
23,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.69%
24,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,5.04%
25,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.69%
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,8.81%
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.67%
28,Visa,NYSE,V,Financial services,2013-09-20,NaN,4.76%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,1.00%

In [77]:
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
11,Dow,NYSE,DOW,Chemical industry,1991-05-06
12,Goldman Sachs,NYSE,GS,Financial services,2019-04-02
13,Home Depot,NYSE,HD,Home Improvement,1999-11-01
14,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
15,IBM,NYSE,IBM,Information technology,1979-06-29
16,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01
17,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
18,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
19,McDonald's,NYSE,MCD,Food industry,1985-10-30
20,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
21,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
22,Nike,NYSE,NKE,Clothing industry,2013-09-20
23,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
24,Salesforce,NYSE,CRM,Information technology,2020-08-31
25,Travelers,NYSE,TRV,Insurance,2009-06-08
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08
28,Visa,NYSE,V,Financial services,2013-09-20
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [81]:
const.rename(columns = {"Date added":"Date_Added"}, inplace = True)

In [83]:
const['Date_Added'] = pd.to_datetime(const['Date_Added'])

In [84]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

## Normalizing Unicode Strings and Getting the Ticker Symbols

In [85]:
#IN THIS CASE IT IS NOT NECESSARY TO NORMALIZE BECAUSE THE TABLE IN WIKIPEDIA NOW COMES WITH THE CORRECT FORMAT
import unicodedata

In [86]:
const.Symbol

0      MMM
1      AXP
2     AMGN
3     AMZN
4     AAPL
5       BA
6      CAT
7      CVX
8     CSCO
9       KO
10     DIS
11     DOW
12      GS
13      HD
14     HON
15     IBM
16    INTC
17     JNJ
18     JPM
19     MCD
20     MRK
21    MSFT
22     NKE
23      PG
24     CRM
25     TRV
26     UNH
27      VZ
28       V
29     WMT
Name: Symbol, dtype: object

In [87]:
const.Symbol.to_list()

['MMM',
 'AXP',
 'AMGN',
 'AMZN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WMT']

In [88]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [89]:
const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

0      MMM
1      AXP
2     AMGN
3     AMZN
4     AAPL
5       BA
6      CAT
7      CVX
8     CSCO
9       KO
10     DIS
11     DOW
12      GS
13      HD
14     HON
15     IBM
16    INTC
17     JNJ
18     JPM
19     MCD
20     MRK
21    MSFT
22     NKE
23      PG
24     CRM
25     TRV
26     UNH
27      VZ
28       V
29     WMT
Name: Symbol, dtype: object

In [90]:
const.Symbol = const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

In [91]:
const.Symbol[0]

'MMM'

In [92]:
const["Ticker"] = const.Symbol.str.split(": ").apply(lambda x: x[-1])

In [93]:
const

,Company,Exchange,Symbol,Industry,Date_Added,Ticker
0,3M,NYSE,MMM,Conglomerate,1976-08-09,MMM
1,American Express,NYSE,AXP,Financial services,1982-08-30,AXP
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,AMGN
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26,AMZN
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19,AAPL
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,BA
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,CAT
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,CVX
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,CSCO
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,KO
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,DIS
11,Dow,NYSE,DOW,Chemical industry,1991-05-06,DOW
12,Goldman Sachs,NYSE,GS,Financial services,2019-04-02,GS
13,Home Depot,NYSE,HD,Home Improvement,1999-11-01,HD
14,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,HON
15,IBM,NYSE,IBM,Information technology,1979-06-29,IBM
16,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,INTC
17,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,JNJ
18,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,JPM
19,McDonald's,NYSE,MCD,Food industry,1985-10-30,MCD
20,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,MRK
21,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,MSFT
22,Nike,NYSE,NKE,Clothing industry,2013-09-20,NKE
23,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,PG
24,Salesforce,NYSE,CRM,Information technology,2020-08-31,CRM
25,Travelers,NYSE,TRV,Insurance,2009-06-08,TRV
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,UNH
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,VZ
28,Visa,NYSE,V,Financial services,2013-09-20,V
29,Walmart,NYSE,WMT,Retailing,1997-03-17,WMT

In [95]:
ticker_list = const.Ticker.to_list()

In [96]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AMZN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WMT']

In [97]:
const.to_csv("const.csv", index = False)

## Loading and Saving Historical Stock Prices

In [99]:
import pandas as pd
import yfinance as yf

In [100]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AMZN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WMT']

In [141]:
prices_all = yf.download(ticker_list, start = "2007-01-01", end = "2020-03-31")

[*********************100%%**********************]  30 of 30 completed

In [142]:
prices_all

            Adj Close                                                \
                 AAPL        AMGN       AMZN        AXP          BA
Date
2007-01-03   2.530319   48.824230   1.935000  45.873459   64.405731
2007-01-04   2.586482   50.915649   1.945000  45.539059   64.665749
2007-01-05   2.568062   51.037006   1.918500  44.938663   64.391289
2007-01-08   2.580744   50.630131   1.875000  45.364262   64.239594
2007-01-09   2.795126   50.872833   1.889000  45.075470   63.560669
...               ...         ...        ...        ...         ...
2020-03-24  60.113964  177.550583  97.004997  78.942963  127.680000
2020-03-25  59.782810  169.477692  94.292000  84.691093  158.729996
2020-03-26  62.928761  174.172272  97.774498  87.621521  180.550003
2020-03-27  60.323364  173.979248  95.004997  83.338600  162.000000
2020-03-30  62.044872  182.938354  98.197502  84.785011  152.279999

                                                                      ...  \
                   CAT         CRM       CSCO        CVX         DIS  ...
Date                                                                  ...
2007-01-03   38.459316    9.005736  18.645346  36.333809   28.225109  ...
2007-01-04   38.358704    9.457646  19.136183  35.980553   28.447931  ...
2007-01-05   37.868202    9.867111  19.142916  36.118793   28.216856  ...
2007-01-08   37.912224    9.969478  19.250492  36.579552   28.472696  ...
2007-01-09   38.119755    9.976967  19.142916  36.159752   28.431431  ...
...                ...         ...        ...        ...         ...  ...
2020-03-24   92.144310  153.439560  33.527618  55.066704   97.801262  ...
2020-03-25   95.172142  146.868149  32.719822  57.317368  100.402779  ...
2020-03-26  100.473122  154.528137  35.247421  63.200527  105.017738  ...
2020-03-27   95.872292  145.809540  33.718697  56.911911   96.086845  ...
2020-03-30  101.573318  149.654510  35.021584  59.534924   99.475800  ...

              Volume                                                   \
                 MMM       MRK      MSFT       NKE        PG      TRV
Date
2007-01-03   4522674  15740226  76935100  17299200   9717900  3432800
2007-01-04   3550206  13115930  45774500  15085600   8711400  2068200
2007-01-05   3307179  11168431  44607200  14996800   9907900  2104600
2007-01-08   2911662   7384522  50220200  10109600  11068200  2440900
2007-01-09   2268573   9037114  44636600  15167200  10823800  1319500
...              ...       ...       ...       ...       ...      ...
2020-03-24  11136793  19901939  82516700  18849500  14625500  4293300
2020-03-25   9260030  18311494  75638200  27053200  13789100  4151400
2020-03-26   8033532  18052848  64568100  17200800  15796000  4610600
2020-03-27   5097711  12467218  57042300  14183400  16073100  3085400
2020-03-30   4627922  15803316  63420300  10960100  14571600  2733700


                 UNH           V        VZ        WMT
Date
2007-01-03   8360300         NaN  21445850  107061900
2007-01-04   5152500         NaN  19215860   51219000
2007-01-05   6215700         NaN  19047041   40670700
2007-01-08   4344100         NaN  20370917   49189200
2007-01-09   5483900         NaN  16281352   43929600
...              ...         ...       ...        ...
2020-03-24   8894400  24488300.0  40626900   42705000
2020-03-25  10014000  20619600.0  38551300   53287500
2020-03-26   7517600  17062900.0  32610900   58250700
2020-03-27   4879500  14950700.0  25363600   36160500
2020-03-30   5329000  15714500.0  20660200   29212500

[3333 rows x 180 columns]

In [143]:
prices_all.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Columns: 180 entries, ('Adj Close', 'AAPL') to ('Volume', 'WMT')
dtypes: float64(152), int64(28)
memory usage: 4.6 MB

In [144]:
prices = prices_all.loc[:,"Close"].copy()

In [145]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3333 non-null   float64
 1   AMGN    3333 non-null   float64
 2   AMZN    3333 non-null   float64
 3   AXP     3333 non-null   float64
 4   BA      3333 non-null   float64
 5   CAT     3333 non-null   float64
 6   CRM     3333 non-null   float64
 7   CSCO    3333 non-null   float64
 8   CVX     3333 non-null   float64
 9   DIS     3333 non-null   float64
 10  DOW     260 non-null    float64
 11  GS      3333 non-null   float64
 12  HD      3333 non-null   float64
 13  HON     3333 non-null   float64
 14  IBM     3333 non-null   float64
 15  INTC    3333 non-null   float64
 16  JNJ     3333 non-null   float64
 17  JPM     3333 non-null   float64
 18  KO      3333 non-null   float64
 19  MCD     3333 non-null   float64
 20  MMM     3333 non-null   float64
 21  MRK     3333 non-null   float64
 22  MSFT    3333 non-null   float64
 23  NKE     3333 non-null   float64
 24  PG      3333 non-null   float64
 25  TRV     3333 non-null   float64
 26  UNH     3333 non-null   float64
 27  V       3029 non-null   float64
 28  VZ      3333 non-null   float64
 29  WMT     3333 non-null   float64
dtypes: float64(30)
memory usage: 807.2 KB

In [146]:
prices

,AAPL,AMGN,AMZN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,...,MMM,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,2.992857,68.400002,1.935000,60.360001,89.169998,61.160000,9.017500,27.730000,70.970001,33.738300,...,65.434784,42.003819,29.860001,12.208750,64.540001,53.549999,52.570000,NaN,35.306732,15.850000
2007-01-04,3.059286,71.330002,1.945000,59.919998,89.529999,61.000000,9.470000,28.459999,70.279999,34.004654,...,65.175583,43.043892,29.809999,12.333750,64.050003,53.099998,52.910000,NaN,35.502777,15.926667
2007-01-05,3.037500,71.500000,1.918500,59.130001,89.150002,60.220001,9.880000,28.469999,70.550003,33.728436,...,64.732445,42.270992,29.639999,12.353750,63.500000,52.410000,52.549999,NaN,34.895969,15.796667
2007-01-08,3.052500,70.930000,1.875000,59.689999,88.940002,60.290001,9.982500,28.629999,71.449997,34.034248,...,64.874580,42.261452,29.930000,12.316250,63.639999,52.020000,53.320000,NaN,34.363850,15.666667
2007-01-09,3.306071,71.269997,1.889000,59.310001,88.000000,60.619999,9.990000,28.469999,70.629997,33.984924,...,64.949837,41.870228,29.959999,12.470000,63.480000,51.889999,52.680000,NaN,34.503880,15.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-24,61.720001,202.339996,97.004997,84.050003,127.680000,101.339996,153.639999,38.599998,66.550003,98.120003,...,110.969902,65.887405,148.339996,72.330002,103.269997,93.739998,219.800003,154.529999,49.990002,38.343334
2020-03-25,61.380001,193.139999,94.292000,90.169998,158.729996,104.669998,147.059998,37.669998,69.269997,100.730003,...,109.983276,65.095421,146.919998,79.010002,100.919998,92.180000,234.490005,161.779999,49.939999,36.466667
2020-03-26,64.610001,198.490005,97.774498,93.290001,180.550003,110.500000,154.729996,40.580002,76.379997,105.360001,...,113.862877,70.162216,156.110001,84.300003,107.379997,98.669998,255.389999,168.880005,53.540001,36.606667
2020-03-27,61.935001,198.270004,95.004997,88.730003,162.000000,105.440002,146.000000,38.820000,68.779999,96.400002,...,111.404678,68.444656,149.699997,83.230003,110.169998,99.949997,242.449997,161.559998,52.770000,36.526669
2020-03-30,63.702499,208.479996,98.197502,90.269997,152.279999,111.709999,149.850006,40.320000,71.949997,99.800003,...,115.167221,73.425575,160.229996,85.379997,115.000000,102.589996,251.279999,165.570007,54.770000,38.396667

In [147]:
prices.to_csv("const_prices.csv")

In [148]:
dji = yf.download("^DJI", start = "2007-01-01",  end = "2020-03-31")

[*********************100%%**********************]  1 of 1 completed

In [149]:
dji

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-01-03,12459.540039,12580.349609,12404.820312,12474.519531,12474.519531,327200000
2007-01-04,12473.160156,12510.410156,12403.860352,12480.690430,12480.690430,259060000
2007-01-05,12480.049805,12480.129883,12365.410156,12398.009766,12398.009766,235220000
2007-01-08,12392.009766,12445.919922,12337.370117,12423.490234,12423.490234,223500000
2007-01-09,12424.769531,12466.429688,12369.169922,12416.599609,12416.599609,225190000
...,...,...,...,...,...,...
2020-03-24,19722.189453,20737.699219,19649.250000,20704.910156,20704.910156,799340000
2020-03-25,21050.339844,22019.929688,20538.339844,21200.550781,21200.550781,796320000
2020-03-26,21468.380859,22595.060547,21427.099609,22552.169922,22552.169922,705180000
2020-03-27,21898.470703,22327.570312,21469.269531,21636.779297,21636.779297,588830000
2020-03-30,21678.220703,22378.089844,21522.080078,22327.480469,22327.480469,545540000

In [150]:
dji.to_csv("dji.csv")